<div class=" p-10 rounded  border-color-red">
    <p class="color-mor text-center fs-5 text-lg font text-red-600">Forget Your Password?</p>
    <div class="mt-2">
        <label [ngClass]="{'hidden' :validate}" class="block text-sm text-gray-00" for="username">
            <i class="fa fa-exclamation-circle text-sm text-red-700"> Your Email Not found</i>
        </label>
        <input [formControl]="email"
            class="w-full py-1 text-gray-700 input--style input-group rounded border-color-red " type="text"
            placeholder="userName@gmail.com" aria-label="Email">
        <button class="px-4 py-1 full text-white font-light tracking-wider bg-red-600 rounded btnCircle"
            [disabled]="!email.valid" (click)="getUser()" type="submit">Send</button>
    </div>
</div>