<div class="mx-auto bg-grey-400 bg">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <!--Header Section Starts Here-->
        <app-header></app-header>
        <!--/Header-->

        <div class="flex flex-1">
            <!--Sidebar-->
            <aside id="sidebar"
                class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav md:block lg:block">
                <app-sidebar></app-sidebar>
            </aside>
            <!--/Sidebar-->
            <!--Main-->
            <main class="bg-white-300 flex-1 p-3 overflow-hidden">
                <router-outlet></router-outlet>
            </main>
            <!--/Main-->
        </div>
        <!--Footer-->
        <app-footer></app-footer>
        <!--/footer-->
    </div>
</div>