<header class="bg-nav bg-color">
    <div class="flex justify-between">
        <div class=" p-1 mx-3 inline-flex items-center">
            <i class="fa fa-bars pr-2 text-white" onclick="sidebarToggle()"></i>
            <h1 class="text-white p-2">Logo</h1>
        </div>
        <div class="p-1 flex flex-row items-center">
            <a href="" class="text-white p-2 mr-2 no-underline hidden md:block lg:block">{{this.user.email}}</a>
            <a onclick="profileToggle()" class="text-white p-2 no-underline hidden md:block lg:block">{{this.user.name}}
                {{this.user.surname}}</a>
            <a (click)="logout()" class="text-white p-2 no-underline hidden md:block lg:block">Logout</a>
            <div id="ProfileDropDown" class="rounded hidden shadow-md bg-white absolute pin-t mt-12 mr-1 pin-r">
                <ul class="list-reset">
                    <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">My account</a>
                    </li>
                    <li><a href="#"
                            class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Notifications</a></li>
                    <li>
                        <hr class="border-t mx-2 border-grey-ligght">
                    </li>
                    <li><a href="#" class="no-underline px-4 py-2 block text-black">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>