.hidden {
    visibility: hidden;
}

.modal {
    position: fixed;
    top: 130px;
    left: 35%;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.form-check-input:checked {
    background-color: #9F7AEA;
    border-color: #6F42C1;
}

.input-valid {
    border-bottom: 2px solid #04862b;
}

.input-invalid {
    border-bottom: 2px solid #a01b00;
}