<div class="p-10 rounded border-color-blue">
    <p class="color-mor text-center fs-5 text-lg font text-blue-800">New Password</p>
    <div class="mt-2">
        <form [formGroup]="passwordForm"></form>
        <label class="block text-sm text-blue-900" for="username">Enter New Password </label>
        <input formControlName="password" class="w-full px-2  py-1 text-gray-700 input--style input-group rounded border-color-blue" type="text"
            required placeholder="" aria-label="password">
        <label class="block text-sm text-blue-900" for="username">Confirm Password </label>
        <input formControlName="confirmPassword" class="w-full px-2  py-1 text-gray-700 input--style input-group rounded border-color-blue"
            type="password" required placeholder="" aria-label="Confirmpassword">

        <input type="text">
    </div>
    <button [disabled]="passwordForm.invalid" class="px-4 py-1 full text-white font-light tracking-wider bg-blue-800 rounded btnCircle"
        type="submit">Send</button>
</div>